.DeviceWidget-section{
    min-height: 10vh;
    width: 50px;
    margin: 0 4px;
}

.DeviceWidget-section.closed {
    width: 10%;
}

.DeviceWidget-section-border{
    border-left: 1px solid var(--fgReact_v0_paleBlack);
    border-right: 1px solid var(--fgReact_v0_paleBlack);
}

.DeviceWidget-section-breadCrumb.DeviceWidget-section-closed{
    width: 50px;
}

.DeviceWidgetExpand{
    position: relative;
    width: 100%;
    height: 0;
    top: -23px;
    right: 0;
    text-align: right;
}

.DeviceWidgetExpand.closed{
    top: -23px;
}

.DeviceWidgetExpand-icon{
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1px;
    width: 30px;
    text-align: center;
    background: var(--fgReact_V0_boldBlue);
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 5px 5px 0px 0px;
    height: 24px;
    transition: 0.2s ease;
}

.DeviceWidgetExpand-icon-sections{
    width: 18px;
    border-radius: 0 5px 5px 0;
    right: -19px;
    padding: 0;
    line-height: 0;
    height: 18px;
}

.DeviceWidgetExpand-icon:hover{
    transform: scale(1.04);
}

.DeviceWidgetExpand-icon:active{
    animation: click-pulse-blue 0.2s;
}

.DeviceWidgetExpand-icon.zoomPlus{
    right: 35px;
}

.DeviceWidgetExpand-icon.zoomMinus{
    right: 69px;
}

.DeviceWidgetExpand-icon.viewTabs{
    left: 0px;
    background-color: var(--fgReact_v0_dashboardGrey);
    width: 130px;
    color: var(--fgReact_v0_boldBlack);
    border: 1px solid rgb(181, 181, 181);
    border-bottom: none;
}
.DeviceWidgetExpand-icon.viewTabs:hover{
    transform: none;
}

.DeviceWidgetExpand-icon.viewTabs.selected{
    color: white;
    background: #227dc6;
}

.DeviceWidgetExpand-icon.disabled{
    cursor: not-allowed;
    opacity: 0.65; 
    animation: none !important;
    transform: none !important;
}

.DeviceWidget-section-breadCrumb{
    min-width: calc(20% - 24px);
    background: #f6f6f6;
    background-color: #e6e6e6;
    border: 1px solid var(--fg_v0_borderGrey);
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0px 10px 20px var(--fg_V0_cmpntShadowGrey);
    margin: 0;
    margin-right: -4px;
}

.DeviceWidget-section-details{
    min-width: calc(30% - 24px);
}

.DeviceWidget-section-map{
    width: 100%;
    min-width: calc(50% - 24px);
}

.DeviceWidget-section-breadCrumb.closed{
    min-width: calc(40px);
    max-width: calc(60px);
}

.DeviceWidget-section-details.closed{
    min-width: calc(18% - 24px);
}

.DeviceWidget-section-map.closed{
    width: 100%;
}

.DeviceWidget-section-collapseCont{
    width: 100%;
    position: relative;
    height: 0;
}

.d-flex.w-100.tabbedContent.active{
    display: flex !important;
}

.d-flex.w-100.tabbedContent{
    display: none !important;
}

@keyframes click-pulse-blue {
	0% {
		transform: scale(1.04);
		box-shadow: 0 0 0 0 rgba(33, 126, 198, 0.2);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(33, 126, 198, 0);
	}
	
	100% {
		transform: scale(1.04);
		box-shadow: 0 0 0 0 rgba(33, 126, 198, 0);
	}
}